@import '../../components/mixins';

.chatBox {
  border: solid 1px black;
  padding: 1rem;

  @include mediaTablet {
    max-width: 384px;
  }
}
.message {
  display: grid;
  grid-auto-flow: row;
  font-size: 1.1rem;

  span {
    font-size: 0.65rem;
  }
  & + & {
    margin-top: 0.5rem;
  }
}
