@import '../../components/mixins';

.chatBox {
  border: solid 1px black;
  padding: 1rem;
  box-sizing: border-box;

  @include mediaTablet {
    max-width: 384px;
  }
}
.messageList {
  padding: 0;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}
.message {
  display: grid;
  grid-auto-flow: row;
  font-size: 1.1rem;

  span {
    font-size: 0.65rem;
  }
  & + & {
    margin-top: 0.5rem;
  }
}
.chatForm {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
